@{
    ViewData["Title"] = "About us";
}
<h3>@ViewData["Title"]</h3>

<br>
<h6>
    This application was created to test my DEVOPS pipeline. <br><br>
  
    Faure Maxence
    and
    Al-Khulaifi Abdulmaged
</h6>
