@{
    ViewData["Title"] = "Home";
}
<h3>@ViewData["Title"]</h3>

<br>
<h6>
    This application is developed in purpose for continous integration tests for IT-Conso team.
</h6>
<br>
<h6>
    It contains few POCs in order to test some functionalities on Kubernetes environment more specifically.
</h6>